body {
    background-color: rgb(29, 27, 27);
    margin: 0;
    
}


.wrapper {
    display: flex;
    flex-wrap: wrap;
   
   

}

body::-webkit-scrollbar {
    width: 0;
   
  }

  html {
    scroll-behavior: smooth;
  }

.open {

    display: none;
}

.underlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 0.5;
    top: 0;
    display: none;
}

.menu {

    height: 100vh;
    width: 300px;
    top: 0;
    right:-300px;
    position: fixed;
    padding: 20px;
    background-color: black;
    box-sizing: border-box;
    display: none;
    transition: all 0.3s;

}

.mobmenu {

    padding: 10px;
}

.menu a {

    color: bisque;
}

.close {
    color: bisque;
    cursor: pointer;
}



.header {
  
   width: 100%;
   background: linear-gradient(to bottom, beige, rgb(196, 170, 138));
   padding-bottom: 50px;
   padding-top: 15px;
   border-radius: 0 0 5px 5px;
   text-align: center;
   box-sizing: border-box;
    font-size:xx-large;
    font-weight: 300;
    border-top: 3px solid rgb(28, 26, 26);
   
   
   
   
}

.main {
    
    width: 25%;
   padding: 60px;
    transition: 1000ms;
    box-sizing: border-box;
   
}


img {
   width: 100%;
   
}
.main:hover {
    transform: rotate(30deg) scale(1.2, 1.2);
    
}

p {
    text-align: center;
    font-family: 'Bokor';
    color: bisque;

}
@font-face {
    font-family: 'Bokor';
    src: url(fonts/Bokor-Regular.ttf);
}



.artist {
   
    
    background-color: black;
    width: 100%;
    
    box-sizing: border-box;
}



.bocsh {
    height: 150px;
    width: auto;
    padding-top: 20px;
    padding-left: 20px;
  
}
h2 {
    color: bisque;
    text-align: center;
    border-bottom: 1px solid bisque;
    
    padding-bottom: 5px;
   
    
}
.text {
    text-align: left;
    padding: 20px;
    
}


.painting {
    width:50%;
    padding: 40px;
    box-sizing: border-box;
    

}

.flex {
    display: flex;
    flex-wrap: wrap;
}


.bottom {
    
    width: 100%;
    text-align: left;
   
    text-decoration: none;
    color: bisque;
}

h3 {
    text-decoration: none;
    color: bisque;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    
    
}
a {
    text-decoration: none;
}

.mobile {
    display: none;
}

@media(max-width:500px) {
    
    .painting {
        width: 100%;
    
    }

    .main {
        width: 100%;
    }

    .main:hover {
        transform: none;
        
    }

    .painting {
        display: none;
    }
    .mobile {
        display: block;
        padding: 40px;
        box-sizing: border-box;
    }

    .header {
        font-size: x-large;
       
    }

    .open {
    
        display: inline-block;
        top:20px;
        left: 30px;
        font-size: 20px;
        position: fixed;
        color: rgb(167, 152, 55);
    }

    .menu {
        display: block;
    }

}




